.DS_Store
.idea/
.vscode/
logs/
*.log
tmp/
dist/
build/
bin/
jetbrains/extensions/glua-lsp/src/main/resources/gluals/
node_modules/
.gradle/
.intellijPlatform/
coverage.out
*.test
luac.out
test.glua
third_party/
